<div class="container">
  <!-- Content here -->
  <h2>Please Input new Comment</h2>
  <p><%=@message%></p>
  <form method="post" target="/comment/new">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Enter Username" value = "<%=@comment.username%>">
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input type="text" class="form-control" name="comment" placeholder="Enter Comment" value = "<%=@comment.comment%>">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
